*{
    text-align: center;
    font-family: Georgia;
}
header,footer{
    background-color: tomato;
    color: mistyrose;
    padding: 10px;
}
nav{
    width: 20%;
}
#Blok1,#Blok2,#Blok3{
    background-color: #FFAEA5;
    height: 170px;
    font-size: 200%;
}
#Blok1{
    background-color: mistyrose;
}
main{
    background-color: mistyrose;
    width: 80%;
    height: 510px;
    overflow: auto;
}
#Sekcja2,#Sekcja3{
    display: none;
}
table{
    margin: auto;
    width: 60%;
    border: 1px dashed indigo;
}
select,input{
    margin: 20px;
}
dt{
    font-weight: bold;
    font-style: italic;
}
dt:hover{
    font-size: 180%;
}
body{
    display: flex;
    flex-direction: column;
}
#con{
    display: flex;
    flex-direction: row;
}
nav,main{
    display: flex;
    flex-direction: column;
}